@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    
    
}
.descuento{
    background-color: 
    #1CD1B0;
    height: 20px;
    background-size: cover;
    margin: 0px;
    text-decoration: none;
}
.descuento2{
    left: 30px;
    position: relative;
    
}

header{
    background-color: #00669F;
    margin: 0px;
    
}
.title{
position: relative;
color: white;
left: 28px;
width: 500px;
height: 47px;
background-color: #00669F;

}
.accesos{
    background-color: #001D2D;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    color: white;
    -webkit-tap-highlight-color: transparent;
}
.accesos2{
    position: relative;
    margin-right: 50px;
    
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
}
.accesos2:link{
    text-decoration: none;
}
.accesos2:hover{
    text-decoration: none;
}
.accesos2:visited{
    text-decoration: none;
}

main{

    justify-content: space-between;
}
body {
    font-family: 'Roboto', sans-serif; 
    
}

.articulo1{
    position: relative;
width: 300px;
height: 500px;
left: 200px;


}

.logoCorazon{
    position: relative;
    top: 50px;
    left: 20px;
}

.batman{
    position: relative;
width: 120px;
height: 118px;
left: 95px;
bottom: 75px;
border-radius: 250px;
}
.articulo1texto{
    top: 260px;
    position: absolute;
    width: 267px;
height: 50px;
margin: 20px;
}
.articulo1texto2{
    top: 300px;
    position: absolute;
    width: 267px;
height: 50px;
text-align: justify;
margin: 20px;
}
.botonVerMas1{
    top: 425px;
    position: absolute;
    width: 100px;
height: 30px;
background-color: #00669F;
color: white;
text-align: center;
left: 75px;
line-height: 18px;
font-size: 20px;
margin: 20px;
}
.articulo2{
    position: relative;
width: 300px;
height: 500px;
left: 800px;

bottom: 500px;

}
.articulo3{
    position: absolute;
width: 300px;
height: 500px;
left: 800px;
top: 600px;

}
.articulo4{
    position: absolute;
    width: 300px;
    height: 500px;
    left: 200px;
    top: 600px;
    
}
.botonSticky{
    position: fixed;
    top: 250px;
    left: 1200px;
    height: 82px;
    width: 82px;
    background-color: #00669F;
    border-radius: 250px;
    color: #ffffff;
}
.botonSticky:hover{
    background-color: #001D2D;
    
}
.botonSticky2{
    position: relative;
    color: white;
    left: 10px;
    top: 9px;
}



@media only screen and (max-width: 460px){
    header{
        background-color: #00669F;
        margin: 0px;
        width: 349px;
        padding: 0px;
    }
    
    .descuento{
        background-color: #D1891C;
        height: 20px;
        background-size: cover;
        margin: 0px;
        width: 349px;
    }
    .title{
        position: relative;
        color: white;
        left: 28px;
        width: 290px;
        height: 47px;
        background-color: #00669F;
        
        }
    
    .articulo1{
        position: relative;
    width: 300px;
    height: 500px;
    left: 20px;
    }
    .articulo4{
        position: absolute;
        width: 300px;
        height: 500px;
        left: 20px;
        top: 600px;
}
.articulo2{
    position: relative;
width: 300px;
height: 500px;
left: 20px;

}
.articulo3{
    position: absolute;
width: 300px;
height: 500px;
left: 20px;
top: 1200px;

}}
@media (max-width: 768px){
    .descuento{
        background-color: #D1891C;
        height: 20px;
        background-size: cover;
        margin: 0px;
        width: 828px;
    }
    header{
        background-color: #00669F;
        margin: 0px;
        
    }
    .title{
    position: relative;
    color: white;
    left: 28px;
    width: 500px;
    height: 47px;
    background-color: #00669F;
    width: 800px;
    }
    .articulo1{
        position: relative;
    width: 300px;
    height: 500px;
    left: 75px;
    }
    .articulo2{
        position: relative;
    width: 300px;
    height: 500px;
    left: 450px;
    bottom: 500px;
    }
    .articulo3{
        position: absolute;
    width: 300px;
    height: 500px;
    left: 75px;
    top: 600px;
    
    }
    .articulo4{
        position: absolute;
        width: 300px;
        height: 500px;
        left: 450px;
        top: 600px;
        
    }
    
}
footer{
    background: rgba(0, 102, 159, 1);
    position:relative;
    top: 50px;
    color: white;
    
    height: 47px;
    font-size: 20px;
    font-family: Roboto;
}
.pie{
    position: absolute;
    text-align: center;
    left: 500px;
    top: 10px;
}