@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$bg-primary: #03faee;
$bg-secondary: #f8f8f8;
$color-primary: #8b8b8b;
$shadow: #92f7f2;
$Familia: Arial, Helvetica, sans-serif;
$Familia2: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$Tamaño: 55px;
$Altodelínea: 70px;
$Espaciadoletras: 10px;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.title{
    position: relative;
    left: 1.5rem;
    font-family: $Familia;
}
.accesos{
    font-family: $Familia;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    right: 0.5rem;
    -webkit-tap-highlight-color: transparent;
}
.accesos2{
    position: relative;
    margin-right: 50px;
    bottom: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    &::before{
        content:'';
    background: $bg-primary;
    position:absolute;
    bottom:-10px;
    height:5px;
    width:0%;
    transition: ease .8s;
    }
    &:hover::before{
        width: 100%;
    }
}
h2{
    font-size: $Tamaño;
    font-family: $Familia2;
    line-height: $Altodelínea;
    letter-spacing: $Espaciadoletras;
    width: 30%;
    top: 5rem;
    position: relative;
    left: 1.5rem;
}
.wireframe{
    position: absolute;
    left: 36rem;
    width: 50%;
    bottom: 0rem;
}
.lorem{
    width: 40%;
    position: relative;
    left: 1.5rem;
    top: 5.5rem;
    font-family: $Familia;
    color: $color-primary;
    line-height: 2rem;
}
.botones{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    position: relative;
}
.boton{
    
    position: relative;
    top: 6.5rem;
    left: 3.5rem;
    height: 3rem;
    width: 6rem;
    font-family: $Familia;
    margin-right: 2rem;
    transition: 0.5s;
    
    &:hover{
        animation: vibrate-1 1s infinite;
        background-color: $bg-primary;
        border-radius: 30%;
    }
}
@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
.contenedores{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 7rem;
  font-family: $Familia;
}
.articulos{
  width: 23%;
  background-color: $bg-secondary;
  height: 15rem;
  border: solid $color-primary;
  transition: 0.6s;
  p{
    width: 80%;
    left: 1.5rem;
    position: relative;
    top: 2rem;
  }
  h3{
    left: 1.5rem;
    position: relative;
    top: 2rem;
  }
  span{
    left: 1.5rem;
    position: relative;
    top: 1.5rem;
  }
}
.numero{
  border: 1px solid black;
  border-radius: 50%;
  width : 70%;
	height : 70%;
	max-width : 70%;
	max-height : 70%;
	margin : 0;
	padding : 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  transition: 0.6s;
  &:hover{
    animation: text-shadow-pop-left 0.6s both;
    border: 1px $shadow solid;
    color: $color-primary;
  }
}
@keyframes text-shadow-pop-left {
  0% {
    text-shadow: 0 0 $shadow, 0 0 $shadow, 0 0 $shadow, 0 0 $shadow, 0 0 $shadow, 0 0 $shadow, 0 0 $shadow, 0 0 $shadow;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    text-shadow: -1px 0 $shadow, -2px 0 $shadow, -3px 0 $shadow, -4px 0 $shadow, -5px 0 $shadow, -6px 0 $shadow, -7px 0 $shadow, -8px 0 $shadow;
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}
footer{
  position: relative;
  top: 11rem;
  left: 1.5rem;
  font-family: $Familia;
  
}
.accesosFooter{
  font-family: $Familia;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    right: 0.5rem;
    -webkit-tap-highlight-color: transparent;
}
.accesosFooter2{
  position: relative;
    margin-right: 20px;
    bottom: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    width: 1.5%;
    left: -4rem;
    &:hover{
      animation: text-shadow-pop-left 0.6s both;
    }
    
}